<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <menuitem id="menu_hospital_root" name="Hospital" sequence="0" web_icon="om_hospital,static/description/icon.png"/>
    <menuitem id="menu_patient_master" name="Patient Details" parent="menu_hospital_root" sequence="0"/>
    <menuitem id="menu_appointment_master" name="appointments" parent="menu_hospital_root" sequence="20"/>
    <menuitem id="menu_configuration" name="Configurations" parent="menu_hospital_root" sequence="30"/>
    <!-- This Menu Item must have a parent and an action -->
    <menuitem id="menu_cancel_appointment" name="Cancelation" parent="menu_appointment_master" action="action_cancel_appointment" sequence="20"/>
    <menuitem id="menu_belajar_api_root" name="Belajar api" sequence="10"/>
    <menuitem id="menu_api_master" name="api" parent="menu_belajar_api_root" sequence="0"/>
</odoo>